.App {
  text-align: center;
  background-color:#F8F6F6;
}

body {
  cursor: url(../assets/cursors/default.png), default;
}

tr:hover{
  cursor: url(../assets/cursors/pointer.png), pointer;
}

@font-face {
  font-family: CodecPro;
  src: url(../assets/font/CodecPro-Light.woff);
}

@font-face {
  font-family: CodecProBold;
  src: url(../assets/font/CodecPro-UltraBlack.woff);
  font-weight: bold;
}

div {
  font-family: CodecPro;
}

h1 {
  font-family: CodecProBold;
  font-size: 96px;
  letter-spacing: -5px;
}