.orange {
    color:#EAAD85;
  }
  
  .green {
    color:#BEBF6F;
  }

  .dark {
    color:#574F4A;
  }
  
.home-alignment {
text-align:left;
align-content:left;
margin-left:10%;
margin-top:-5%;
}

.background{
  width:100%;
  position:absolute;
}

.splash {
  width:25%;
}

.button {
  opacity:100%;
  width:25%;
  margin:2.5%;
}

.button:hover {
  opacity:80%;
  cursor: url(../assets/cursors/pointer.png), pointer;
  animation: expand 0.2s forwards;
}

@keyframes greenToOrange {
  from {
    color:#BEBF6F;
  }
  to {
    color:#EAAD85;
  }
}

/* Define the animation */
@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes typing {
  from { 

    width: 0 ;
  }
  to {
     width: 60% ;
    }
  }

/* Apply the animation to the element */
.typewriter {
  overflow: hidden; /* Ensures the text is not visible outside the box */
  white-space: nowrap; /* Keeps the text on one line */
  animation: typing 2s ease; /* Set the animation duration and steps */
}